## Build results
bin/
obj/
out/
*.exe
*.dll
*.app
*.log

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vscode/
.vs/

## ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

## dotnet publish
publish/
*.db

## NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

## Logs
*.log
logs/

## Rider
.idea/

## Test results
TestResults/
*.coverage
*.coveragexml

## Others
*.swp
*.DS_Store
Thumbs.db

## Environment settings
.env
.env.*
